PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mydb?schema=public"

JWT_ACCESS_SECRET="super-access-secret-mini-ecommerce-key-2025"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="super-refresh-secret-mini-ecommerce-key-2025"
JWT_REFRESH_EXPIRES_IN="7d"

REDIS_HOST="127.0.0.1"
REDIS_PORT=6379