PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mydb?schema=public"

JWT_ACCESS_SECRET="super-access-secret-mini-ecommerce-key-2025"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="super-refresh-secret-mini-ecommerce-key-2025"
JWT_REFRESH_EXPIRES_IN="7d"

REDIS_HOST="127.0.0.1"
REDIS_PORT=6379

# Cloudinary Cloud Storage Configuration (Optional: fallback to local /uploads if not set)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

GOOGLE_CLIENT_ID=dán-mã-client-id-của-bạn-vào-đây
GOOGLE_CLIENT_SECRET=dán-mã-client-secret-của-bạn-vào-đây
